.correct-answer {
    background: rgb(109, 155, 96);
    color: white;
    height: 30px;
    padding: 0px 20px;
    margin-top: -60px;
    text-align: center;
}

.wrong-answer {
    background: rgb(104, 14, 14);
    color: white;
    height: 30px;
    padding: 0px 20px;
    margin-top: -60px;
}
.correct-answer h4 , .wrong-answer  h4 {
    text-align: center;
    margin-top: 0px;
}